EMAIL_PASSWORD = 'xxxx'
SECRET_KEY =  'xxxx'
DEBUG = xxx
ALLOWED_HOSTS = ['xxx']
DB_ENGINE= 'django.db.backends.postgresql'
DB_NAME= 'xxxx'
DB_USER= 'xxx'
DB_PASSWORD= 'xxxx'
DB_HOST= 'xxxx'

DB_PORT= 'xxxx'