{% extends "booking/baseLayout.html" %}

{% block title %}Fitness Classes{% endblock %}

{% block content %}
<h1>Fitness Classes</h1>

<!-- List of fitness classes -->
{% for fitness_class in classes %}
    <div>
        <h3>{{ fitness_class.name }}</h3>
        <p>{{ fitness_class.description }}</p>
        <p>Instructor: {{ fitness_class.instructor.username }}</p>
        <p>Schedule: {{ fitness_class.schedule }}</p>
        <a href="{% url 'join_class' fitness_class.id %}" class="btn btn-primary">Join Class</a>
    </div>
    <hr>
{% endfor %}
{% endblock %}